* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: #58004d;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}
section {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  text-align: center;
}

#app h2 {
  font-size: 2rem;
  /* border-bottom: 4px solid #ccc; */
  color: #58004d;
  margin: 0 0 1rem 0;
}

#app header h2 {
  color: #fff;
}

#app button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #ff0077;
  background-color: #ff0077;
  color: white;
  margin: 5px;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

#app button:hover,
#app button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

/* Form style */

#app input {
  font: inherit;
  padding: 0.4rem;
  margin: 10px auto;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#app label {
  font-weight: bold;
  margin-right: 1rem;
  width: 7rem;
  display: inline-block;
}
#app form {
  text-align: center;

}
#app form div {
  margin: 1rem 0;
  text-align: center;
}